@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #282c34;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #66fcf1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.social {
  font-size: 2rem;
}

.social .icon {
  padding: 0 10px;

  text-decoration: none;
  color: #c5c6c7;

  transition: color 0.5s;
}

.social .icon:hover {
  color: rgb(114, 114, 114);
}
